<!DOCTYPE html>
<html lang="en">
<head>
    <title>component vue js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div id="dw" class="container">
        <div class="row">
            <div class="col-md-12">
                <panel v-for="list in lists" :listdata="list"></panel>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Judul</label>
                    <input type="text" v-model="judul" class="form-control">
                </div>
                <div class="form-group">
                    <label>Konten</label>
                    <textarea v-model="konten" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-sm" @click="simpan">Kirim</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/vue@2.5.6/dist/vue.js"></script>

    <template id="panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ listdata.judul }}
            </div>
            <div class="panel-body">
                {{ listdata.konten }}
            </div>
        </div>
    </template>

    <script type="text/javascript">
        Vue.component('panel', {
            props: ['listdata'],
            template: '#panel'
        });

        new Vue({
            el: '#dw',
            data: {
                judul: '',
                konten: '',
                lists: [
                    {
                        judul: 'Belajar Vue',
                        konten: 'belajar materi component'
                    }
                ]
            },
            methods: {
                simpan(){
                    this.lists.push({
                        judul: this.judul,
                        konten: this.konten
                    })
                }
            }
        });
    </script>    
</body>
</html>